dist: bionic

language: minimal

env:
  global:
    - REPO=docksal/mysql
    - LATEST_VERSION=8.0

  matrix:
    - VERSION=5.6 FROM=mysql:5.6
    - VERSION=5.7 FROM=mysql:5.7
    - VERSION=8.0 FROM=mysql:8.0

install:
  # Install Docksal to have a matching versions of Docker on the build host
  - curl -fsSL https://get.docksal.io | bash
  - fin version
  - fin sysinfo

script:
  - make
  - make test

after_success:
  - make release

after_failure:
  - make logs
